
.icon-mic-outline:before { content: '\e800'; } /* '' */
.icon-headphones:before { content: '\e801'; } /* '' */
.icon-cog:before { content: '\e802'; } /* '' */
.icon-gift:before { content: '\e803'; } /* '' */
.icon-pin:before { content: '\e804'; } /* '' */
.icon-mobile:before { content: '\e805'; } /* '' */
.icon-attention-circled:before { content: '\e806'; } /* '' */
.icon-twitter:before { content: '\e807'; } /* '' */
.icon-minus-outline:before { content: '\e808'; } /* '' */
.icon-cancel-outline:before { content: '\e809'; } /* '' */
.icon-search:before { content: '\e80a'; } /* '' */
.icon-mail:before { content: '\e80b'; } /* '' */
.icon-help-circled:before { content: '\e80c'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-smile:before { content: '\f118'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-cc-jcb:before { content: '\f24b'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */
.icon-window-maximize:before { content: '\f2d0'; } /* '' */